@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Mono&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Orbitron', sans-serif;
}

.first-section{
    background-color: #D92906;
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-left, .navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
 }

 .content{
    display: flex;
    flex-direction: row;
    margin: 50px;
 }

 .content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
 }

 .content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center; 
    margin-left: 200px;
 }

 img {
    margin-bottom: 50px;
 }

 .p-first {
    font-size: 18px;
    color: #E5E7EB;
 }

 .sign-up-first-section {
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    border: 1px white;
    border-radius: 10px;
    margin-top: 10px;
  }
  #apollo-header{
    font-size: 80px;
    color: #D92906;
    margin-bottom: 25px;
    margin-left: 10px;
  }

  .apollo-sub-header{
    margin-left: 35px;
    color: lightslategray;
    margin-bottom: 10px;
  }

  .apollo-mission-brief {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 18px;
  }
 
  .apollo-stats-top-1 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-bottom: 10px;
  }

  .mission-type, .astronauts{
    display: flex;
    width: 25%;
    justify-content: left;
    align-items: center;
    color: lightslategray;
    margin-left: 10px;
  }

  .apollo-stats-bottom-1 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: left;
  }

  .lunar-landing, .names {
    display: flex;
    width: 25%;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

   .apollo-stats-top-2 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-bottom: 10px;
   }

   .launch, .landing {
    display: flex;
    width: 25%;
    justify-content: left;
    align-items: center;
    color: lightslategray;
    margin-left: 10px;
   }

   .apollo-stats-bottom-2 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: left;
   }

   .date-1, .date-2 {
    display: flex;
    width: 25%;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
   }
 